*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsla(268, 23%, 43%, 1);

background: linear-gradient(90deg, hsla(268, 23%, 43%, 1) 20%, hsla(341, 91%, 68%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(268, 23%, 43%, 1) 20%, hsla(341, 91%, 68%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(268, 23%, 43%, 1) 20%, hsla(341, 91%, 68%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#6C5587", endColorstr="#F86594", GradientType=1 );

}
form{
  background:pink;
  border-radius: 52px 0px 64px 0px;
-moz-border-radius: 52px 0px 64px 0px;
-webkit-border-radius: 52px 0px 64px 0px;
border: 0px solid #000000;
width:600px;
height: 550px;
font-family: 'Comforter Brush', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Fuzzy Bubbles', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-size: medium;
padding: 15px;
}
.hobbies-box{
  padding:3px;
}
#fullName, #gender{
  border-radius: 0px 30px 0px 22px;
-moz-border-radius: 0px 30px 0px 22px;
-webkit-border-radius: 0px 30px 0px 22px;
border: .25px solid #000000;
}
#checkboxNoLabel,.btn{
  border-radius: 0px 30px 0px 22px;
-moz-border-radius: 0px 30px 0px 22px;
-webkit-border-radius: 0px 30px 0px 22px;
border: 0px solid #000000;
padding:10px;
}